.App {
  font-family: sans-serif;
  text-align: center;
  background: #210852;
  background-size: 400%;
}

h1 {
  color: white;
  padding: 20px;
}

.row {
  color: cyan;
  display: flex;
  justify-content: center;
}

.data {
  width: 200px;
  padding-bottom: 20px;
}

.name {
  font-weight: bold;
}

.highschool {
  color: #f3b778;
}
